# Mission to Mars

In [3]:
from splinter import Browser
from bs4 import BeautifulSoup

In [4]:
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [96]:
url1="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [54]:
browser.visit(url1)

In [60]:
html1 = browser.html
soup1 = BeautifulSoup(html1,"html.parser")

In [61]:
results = soup1.find("li",class_="slide")

In [62]:
for result in results:
    news_title = result.find("div", class_="content_title").a.text
    news_p = result.find("div", class_="article_teaser_body").text

### News title of the latest news

In [63]:
news_title

"Five Things to Know About InSight's Mars Landing"

### News paragraph text of the latest news

In [64]:
news_p

"NASA engineers will be holding their breath when their spacecraft heads into Mars' atmosphere on Nov. 26."

# JPL Mars Space Images - Featured Image

In [6]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [10]:
browser.visit(url2)
browser.click_link_by_partial_text("FULL IMAGE")

In [11]:
html2 = browser.html
soup2 = BeautifulSoup(html2, "html.parser")

In [12]:
featured_image_url = "https://www.jpl.nasa.gov"+soup2.body.find("img", class_="fancybox-image")["src"]

### Featured image url

In [13]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16239_ip.jpg'

# Mars Weather

In [89]:
url3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url3)
html3 = browser.html
soup3 = BeautifulSoup(html3, "html.parser")

In [94]:
mars_weather = soup3.find("div",class_="js-tweet-text-container").p.text

### The weather on Mars

In [95]:
mars_weather

'Sol 2213 (2018-10-27), high -12C/10F, low -70C/-93F, pressure at 8.74 hPa, daylight 06:11-18:29'

# Mars Facts

In [98]:
import pandas as pd

In [103]:
url4 = "https://space-facts.com/mars/"
tables = pd.read_html(url4)
df = tables[0]
df.columns = ["description","value"]
df.set_index("description",inplace = True)

In [104]:
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [105]:
html_table = df.to_html()

### Mars Facts Table

In [107]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [123]:
hemispheres = ["cerberus","schiaparelli","syrtis_major","valles_marineris"]
hemisphere_image_urls = []
for hemisphere in hemispheres:
    url5 = f"https://astrogeology.usgs.gov/search/map/Mars/Viking/{hemisphere}_enhanced"
    browser.visit(url5)
    html5 = browser.html
    soup5 = BeautifulSoup(html5,"html.parser")
    hemisphere_image_url = {}
    title = soup5.find("h2", class_="title").text
    img_url = soup5.find("img", class_="wide-image")["src"]
    hemisphere_image_url["title"] = title
    hemisphere_image_url["img_url"] = "https://astrogeology.usgs.gov"+img_url
    hemisphere_image_urls.append(hemisphere_image_url)

In [124]:
hemisphere_image_urls

[{'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]